[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = https://tpope.io/surround.git
[submodule "pack/tpope/start/repeat"]
	path = pack/tpope/start/repeat
	url = https://tpope.io/repeat.git
